{% extends 'base.html' %}

{% block title %}
<title>Signup - RPG Site</title>
<<<<<<< HEAD
{% endblock title%}
=======
{% endblock title %}
>>>>>>> ade14f32754abcc8fac1b74e12cff7d0fcdcfb06

{% block content %}
<main>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}
