{% extends 'base.html' %}

{% block title %}
<title>Welcome! - RPG Site</title>
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1> Introduction</h1>
        <p>
            Welcome to our site! This in-development web application is
            designed to give Dungeon Masters a tool to implement an RPG
            system based on The Elder Scrolls 3: Morrowind and The Elder
            Scrolls 4: Oblivion; both of these games featured a character
            and skill leveling system that is commonly held to be too
            mathematically intense for pen and paper gaming.
        </p>
        <p>
            It is my hope that, when it is completed, this web application
            will be a free and easy tool for DMs to bring usage-based skill
            leveling to their game tables.
        </p>
        <p>
            I hope you join me in chasing the Call of Magic!
        </p>
        <h3>Andrew Casey</h3>
    </div>
</main>
{% endblock content %}
