{% load static%}

<!DOCTYPE html>

<html>
<head>
    {% block title %}
    {% endblock title%}
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="{% url 'homepage' %}">Home</a>
                {% comment %} <a href="{% url '' %}">Characters</a>
                <a href="{% url '' %}">Skills</a>
                <a href="{% url '' %}">About</a> {% endcomment %}
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Signup</a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <div>Call of Magic RPG System by Andrew Casey 2023</div>
    </footer>
</body>

</html>
